*{
    margin: 0px;
    font-family: 'inter';
    
}

#menusuperior{
    background: #303030;
}

#Titulo-menu-superior{
    color: #FFFFFF;
    margin-left: 40px;
    padding-top: 100px;
    font-size: 40px;
    
}

#Texto-menu-superior{
    color: #FFFFFF;
    padding-left: 40px;
    margin-top: 10px;
    padding-bottom: 100px;
    font-size: 15px;
}

#menuinformacional{
    
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.img-informacional{
    margin-left: 100px;
    margin-top: 80px;
    padding-bottom: 50px;
    
}

#texto-explicativo{
    margin-left: 45px;
    padding-top: 250px;
    margin-bottom: 35px;
   
}

#paragrafo-explicativo{
    margin-left: 45px;
    padding-bottom: 300px;
    font-size: 20px;
}

#imgexplicativa{
    float: right;
    margin-right: 30px;
    margin-top: 75px;
    padding-bottom: 55px;
    
}

#formulario{
    background: #303030;
}

#titulo-formulario{
    text-align: center;
    padding-top: 70px;
    font-size: 30px;
    color: white;
}

input{
 width: 450px;
 height: 65px;
 background-color: #EAECE5;
 margin: 25px;
 border: 0px;
 margin-left: 410px;
 border-radius: 10px;
 padding-left: 20px;
}

button{
    background: #C07212;
    border: 0px;
    border-radius: 10px;
    width: 193px;
    height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 540px;
    margin-top: 55px;
    margin-bottom: 45px;
}

#Logo{
    margin: auto;
    display: block;
}




